<div class="status">
  <span class="status__text">{{status}}</span>
</div>
{{#copy-button
  clipboardText="Working!"
  success=(action 'onSuccess')
  error=(action 'onError')
}}
  Test!
{{/copy-button}}
